@font-face {
    font-family: Noita;
    src: url("./NoitaPixel.ttf") format("truetype");
}

html {
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
    font-family: 'Noita';
    image-rendering: pixelated;
    color: white;
}

p {
    margin: 0px;
}

.displayOnParentHover {
    visibility: hidden;
}

*:hover > .displayOnParentHover {
    visibility: visible;
}
