@font-face {
    font-family: Noita;
    src: url("./NoitaPixel.ttf") format("truetype");
}

html {
    /*background-color: black; */
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
    font-family: 'Noita';
    /*font-family: 'VT323', monospace;*/
    image-rendering: pixelated;
    color: white;
}

p {
    margin: 0px;
}

.displayOnParentHover {
    visibility: hidden;
}

*:hover > .displayOnParentHover {
    visibility: visible;
}

/* @font-face {
    font-family: noita;
    src: url(/noita2.ttf);
}

p {
    margin: 0px;
}

table {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.magic-hover-box {
    position: relative;
    top: 4%;
    left: 2%;
    height: 6%;
    width: 12.8%;
    border: solid rgba(255,255,255, 0.3);
}

div.wand-brief div.wand-detail {
    opacity: 0.0;
    visibility: hidden;
}

div.wand-brief:hover div.wand-detail {
    opacity: 1.0;
    visibility: visible;
}

.magic-hover-box * {
    opacity: 0.0;
    visibility: hidden;
}

.magic-hover-box:hover * {
    opacity: 1.0;
    visibility: visible;
}

.wands-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: fixed;
    top: 12.5%;
    bottom: 5%;
    left: 2%;
    right: 8%;
    transition: ease 0.3s;
}

.stat {
    padding-right: 18px;
}

.wand-brief {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: fit-content;
    padding: 10px;
    margin: 5px;
    border: solid beige 3px;

    background-color: rgba(11, 8, 8, 0.75);
    color: white;
    font-size: 18px;
    /* font-family: 'noita'; * /
    font-family: 'VT323', monospace;
}

.wand-brief-upper {
    display: flex;
    width: max-content;
    padding-bottom: 10px;
}

.wand-detail {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.wand {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    border: solid white 3px;

    background-color: rgba(11, 8, 8, 0.95);
    color: white;
    font-size: 18px;
    /* font-family: 'noita'; * /
    font-family: 'VT323', monospace;
}

.wand-upper-section {
    display: flex;
    width: max-content;
    padding-bottom: 20px;
}

.always-cast {
    padding-bottom: 20px;
}

.spell-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spell-slot {
    width: 36px;
    height: 36px;
    position: relative;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAmklEQVQ4jWNgoDJghDEq3S3+w9hHXn6+bSPOq0osm4GBgaF95wlGuIGV7hb/j7z8fJsSl9mI86q27zzByMTAwMDw7OUXSsxiQDaDiWKT0AATAwMDwz2G/xR5F9kMJgYGiP8pNRBmBm3CcNTLZIFRLw92L//8/YdiA2FmwAvYCG0NeAH7lJX5tvTvv6rEshkYGBhWXL0BN4uqAAB3tmuIr9eIsgAAAABJRU5ErkJggg==");
    image-rendering: pixelated;
}

.spell-sprite {
    width: 30px;
    transform: translate(3px, 3px);
}

.wand-image {
    image-rendering: pixelated;
    width: 110px;
    align-self: center;
}

.rotated {
    transform: rotate(-90deg);
}

td.shuffle::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAABnRSTlMAAAAAAABupgeRAAAANUlEQVR4nG2NQQqAQAzEEvD/X46HurqKPYWBpAJANaBefE/DlZX6Mf7PvfgYE9q7wPH6u4wThCMm8HHIUdIAAAAASUVORK5CYII=');
}

td.spells-cast::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAABnRSTlMAAAAAAABupgeRAAAALUlEQVR4nH3MMQ4AIAzDQJv//zkMMFQt4sYoskkoVGDxYvse/fsrXLWTxLkCG+ynDwFoQL9BAAAAAElFTkSuQmCC');
}

td.cast-delay::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAFElEQVQImWNgoB34////f2w0jQAAvkUL9V/xo/8AAAAASUVORK5CYII=');
}

td.recharge-time::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAABnRSTlMAAAAAAABupgeRAAAAL0lEQVR4nG2KsQ0AMAzC7P7/Mx0ipVUUJmMQAJIUqAz1+Fc9HLac8VpKkmK7qz1f19Yg7L/pwAsAAAAASUVORK5CYII=');
}

td.mana-max::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALElEQVQImWNgQAL/////j8xnxCbByMjICJdE1wFTwIQuiAzwSuK1EwWg2w0AonYUALgX+aEAAAAASUVORK5CYII=');
}

td.mana-chg-spd::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALUlEQVQImWNgwAL+////n4GBgYERlwROQRibCZmDrosJm514JRkZGVHdgs0hANHrG/AaxgVNAAAAAElFTkSuQmCC');
}

td.capacity::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAABnRSTlMAAAAAAABupgeRAAAAKElEQVR4nGNkYGD4//8/AxJgZGRkRBOCACZMIQZM7RAR7CbgUIvVDQDKEhf1CwHbjAAAAABJRU5ErkJggg==');
}

td.spread::before {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    image-rendering: pixelated;
    content: "";
    height: 14px;
    width: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAABnRSTlMAAAAAAABupgeRAAAAH0lEQVR4nGNkQAX///9H56MIofOxaMGnFqscI1Y3AAD/ySDi7uHLHwAAAABJRU5ErkJggg==');
}
*/
